<!-- Modal Edit Data Barang -->
<div id="modal-edit-barang" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form id="edit_data_barang">
      <div class="row modal-header valign-wrapper">
        <div class="col s12" style="margin-left: 0">
          <p class="modal-title">Edit Data Barang</p>
        </div>
        <div class="col s2">
          <i id="close-icon" class="material-icons right modal-action modal-close" style="color: #BFBFBF">close</i>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row" style="margin-bottom: 0">
        <div class="input-field col s6">
          <input id="id_barang_edit" type="text" class="validate">
          <label class="no-margin-left active" for="id_barang_edit">ID Barang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nama_barang_edit" type="text" name="nama_barang" class="validate" >
          <label class="no-margin-left active" for="nama_barang">Nama Barang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="stok_edit" type="text" name="stok" value="20" class="validate" required>
          <label class="no-margin-left active" for="stok">Stok</label>
        </div>
        <div class="input-field col s6">
          <input id="stok_opname_edit" type="text" name="stok_opname" value="10" class="validate" required>
          <label class="no-margin-left active" for="stok_opname">Stok Opname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="harga_beli_edit" type="text" name="harga_beli" value="30000" class="validate" required>
          <label class="no-margin-left active" for="harga_beli">Harga Beli</label>
        </div>
        <div class="input-field col s6">
          <input id="harga_jual_edit" type="text" name="harga_jual" value="80000" class="validate" required>
          <label class="no-margin-left active" for="harga_jual">Harga Jual</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="id_merk_edit" type="text" name="id_merk" value="2900" class="validate" required>
          <label class="no-margin-left active" for="id_merk">ID Merk</label>
        </div>
        <div class="input-field col s6">
          <input id="kategori_edit" type="text" name="kategori" value="Obat" class="validate" required>
          <label class="no-margin-left active" for="kategori">Kategori</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn left" id="btn-modal-edit-submit" type="submit" style="margin: 5px 0 0 30px">simpan</button>
    </div>
  </form>
</div>
