  <!-- Modal Structure -->
  <div id="cetak-data-barang" class="modal">
    <div class="modal-content" id="content-cetak-data-barang">
      <div class="row modal-header valign-wrapper">
        <div class="col s5">
          <p class="modal-title">Detail Data Barang</p>
        </div>
        <div class="col s6">
          <a id="button-modal-title" class="waves-effect waves-light btn right">Cetak Laporan</a>
        </div>
        <div class="col s2">
          <i id="close-icon" class="material-icons right modal-action modal-close" style="color: #BFBFBF">close</i>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="modal-middle-content">
      <div class="row">
        <div class="col s6">
          <span class="modal-subtitle">ID</span><br>
          <span>KD001</span>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <span class="modal-subtitle">Nama Barang</span><br>
          <span>Bromociptine</span>
        </div>
        <div class="col s6">
          <span class="modal-subtitle">Kategori</span><br>
          <span>Obat</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s6">
          <span class="modal-subtitle">Stok</span><br>
          <span>20</span>
        </div>
        <div class="col s6">
          <span class="modal-subtitle">Stop Opname</span><br>
          <span>5</span>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <span class="modal-subtitle">Merk</span><br>
          <span>Aqua</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s6">
          <span class="modal-subtitle">Harga Beli</span><br>
          <span>Rp 90.000</span>
        </div>
        <div class="col s6">
          <span class="modal-subtitle">Harga Jual</span><br>
          <span>Rp 95.000</span>
        </div>
      </div>
    </div>
  </div>
