<!-- Modal Tambah Data Barang -->
<div id="modal-new-barang" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form class="" action="/tambah_data_barang" method="post">
      <div class="row modal-header valign-wrapper">
        <div class="col s12" style="margin-left: 0">
          <p class="modal-title">Tambah Data Barang</p>
        </div>
        <div class="col s2">
          <i id="close-icon" class="material-icons right modal-action modal-close" style="color: #BFBFBF">close</i>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row" style="margin-bottom: 0">
        <div class="input-field col s6">
          <input disabled value="KD002" id="disabled" type="text" class="validate">
          <label class="no-margin-left" for="disabled">ID Barang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nama_barang" type="text" name="nama_barang" class="validate" required>
          <label class="no-margin-left label-hover" for="nama_barang">Nama Barang</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="stok" type="text" name="stok" class="validate" required>
          <label class="no-margin-left" for="stok">Stok</label>
        </div>
        <div class="input-field col s6">
          <input id="stok_opname" type="text" name="stok_opname" class="validate" required>
          <label class="no-margin-left" for="stok_opname">Stok Opname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="harga_beli" type="text" name="harga_beli" class="validate" required>
          <label class="no-margin-left" for="harga_beli">Harga Beli</label>
        </div>
        <div class="input-field col s6">
          <input id="harga_jual" type="text" name="harga_jual" class="validate" required>
          <label class="no-margin-left" for="harga_jual">Harga Jual</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="id_merk" type="text" name="id_merk" class="validate" required>
          <label class="no-margin-left" for="id_merk">ID Merk</label>
        </div>
        <div class="input-field col s6">
          <input id="kategori" type="text" name="kategori" class="validate" required>
          <label class="no-margin-left" for="kategori">Kategori</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn left" id="btn-modal-submit" type="submit" style="margin: 5px 0 0 30px">simpan</button>
    </div>
  </form>
</div>
