<!-- Modal Delete Notification -->
<div id="modal-delete" class="modal" >
  <div class="modal-content">
    <div class="row">
      <div class="col s12" style="padding-right: 0">
        <i id="modal-delete-close-icon" class="material-icons right modal-action modal-close" style="color: #BFBFBF">close</i>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
      <div class="col s12 modal-close-icon">
        <i class="material-icons bulet" id="modal-close-icon">close</i>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <span id="modal-delete-text">Apakah anda yakin menghapus data ini?</span>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px">
      <div class="col s12">
        <a id="batalkan-btn" class="waves-effect waves-light btn btn-flat">Batalkan</a>
        <a id="saya-yakin-btn"class="waves-effect waves-light btn red-btn">Ya, Saya Yakin</a>
      </div>
    </div>
  </div>
</div>
