<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="css/keuangan.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="header" class="row">
      <div class="col s3">
        <img src="image/pic_pojok.png" id="pic_pojok">
      </div>
      <div class="col s3">
        <div id="welcome" class="valign-wrapper">
          <i id="img-orang" class="material-icons bulet">accessibility</i>
          <span><span id="welcome-text">Selamat Datang,</span> Kasir </span>
        </div>
      </div>
      <div class="col s6">
        <div id="logout-text" class="valign-wrapper right">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav-wrapper">
        <div id="dashboardkasir" class="col s12">
          <a href="#!" id="textdashboard" class="breadcrumb">Dashboard</a>
          <a href="#!" id="textdashboard" class="breadcrumb">Kasir</a>
        </div>
      </div>

    </nav>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <input id="idBarang" type="text" name="" value="">
                <label for="idBarang">ID Barang</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="namaBarang" type="text" class="validate">
                <label for="namaBarang">Nama Barang</label>
              </div>
              <div class="input-field col s6">
                <input id="Kategori" type="text" class="validate">
                <label for="Kategori">Kategori</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="inputBarang" type="text" class="validate">
                <label for="inputBarang">Kuantitas</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="hargaJual" type="text" class="validate">
                <label for="hargaJual">Harga Jual</label>
              </div>
              <div class="input-field col s6">
                <input id="Diskon" type="text" name="Diskon" value="">
                <label for="Diskon">Diskon</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="kiritabel" class="col s6">
        <p>Total yang harus dibayarkan</p>
        <p id="harga">Rp 0</p>
        <p>Barang Penjualan</p>
        <table id="kananline"class="bordered striped">
         <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Jumlah</th>
               <th>Total</th>
               <th>Aksi</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>KD001</td>
             <td>Betadine</td>
             <td>12</td>
             <td>200000</td>
             <td class="aksi-icon-padding">
               <a class="modal-trigger" href="#cetak-data-barang"><i class="material-icons aksi-icon">remove_red_eye</i></a>
               <a class="modal-trigger" href="#modal-edit-barang"><i class="material-icons aksi-icon">mode_edit</i></a>
               <a class="modal-trigger" href="#modal-delete"><i class="material-icons aksi-icon">delete</i></a>
             </td>
           </tr>
           <tr>
             <td>KD001</td>
             <td>Betadine</td>
             <td>12</td>
             <td>200000</td>
             <td class="aksi-icon-padding">
               <a class="modal-trigger" href="#cetak-data-barang"><i class="material-icons aksi-icon">remove_red_eye</i></a>
               <a class="modal-trigger" href="#modal-edit-barang"><i class="material-icons aksi-icon">mode_edit</i></a>
               <a class="modal-trigger" href="#modal-delete"><i class="material-icons aksi-icon">delete</i></a>
             </td>
           </tr>
           <tr>
             <td>KD001</td>
             <td>Betadine</td>
             <td>12</td>
             <td>200000</td>
             <td class="aksi-icon-padding">
               <a class="modal-trigger" href="#cetak-data-barang"><i class="material-icons aksi-icon">remove_red_eye</i></a>
               <a class="modal-trigger" href="#modal-edit-barang"><i class="material-icons aksi-icon">mode_edit</i></a>
               <a class="modal-trigger" href="#modal-delete"><i class="material-icons aksi-icon">delete</i></a>
             </td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>
    {{> modal_cetak_data_barang }}

    {{> modal_delete_notification }}

    {{> modal_edit_data_barang }}

    <!-- Modal Structure -->
    <div id="modal-delete" class="modal" >
      <div class="modal-content">
        <div class="row">
          <div class="col s12" style="padding-right: 0">
            <i id="modal-delete-close-icon" class="material-icons right modal-action modal-close" style="color: #BFBFBF">close</i>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
          <div class="col s12 modal-close-icon">
            <i class="material-icons bulet" id="modal-close-icon">close</i>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <span id="modal-delete-text">Apakah anda yakin menghapus data ini?</span>
          </div>
        </div>
        <div class="row" style="margin-bottom: 50px">
          <div class="col s12">
            <a id="batalkan-btn" class="waves-effect waves-light btn btn-flat">Batalkan</a>
            <a id="saya-yakin-btn"class="waves-effect waves-light btn red-btn">Ya, Saya Yakin</a>
          </div>
        </div>
      </div>
    </div>
    <div id="bordertop" class="row">
      <div class="col s6">
        <button id="textbawah" type="button" name="button">Tambahkan ke Pembayaran</button>
      </div>
      <div class="col s6">
        <div class="valign-wrapper right">
          <button id="textbawah" class="right" type="button" name="button">Lanjutkan ke Pembayaran</button>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
    </script>
  </body>
</html>
