#header {
  margin: 0 !important;
  height: 80px;
  background-color: #ffffff;
}

#kiri {
  margin: 0;
  padding: 0;
}
.collection {
  margin: 0;
}

#header_right {
  height: 80px;
  background-color: #E9E9E9;
  padding: 0;
}

#kanan {
  padding: 0;
}

.middle {
  margin: auto 0
}
.bulet
{
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 10px
}
.li{
  padding: 0px;
  margin : 0px;
}

#close-icon {
  top: 7px;
}

#search {
  padding-left: 50px;
  background-color: white;
  border-bottom: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.input-field label {
  margin-left: 10px;
}

#sub-judul {
  font-size: 1.5rem;
  font-weight: 300;
}

th {
  padding: 15px 50px;
  font-weight: 500;
}
td {
  padding: 15px 50px;
  font-weight: 400;
}

.aksi-icon {
  margin-left: 8px;
  color: #B9B9B9;
  cursor: pointer;
}

.aksi-icon:hover {
  color: black;
}
